class PostContent extends React.Component {
	constructor(){
		super();
		this.state = {
			sideShareVisible: false,
			sideShareFixed: false,
		};

	}

	componentDidMount() {
		var parentClass = this;
		$("body").on("scroll", function(e){
			let sideShareVisible = true;
			let sideShareFixed = false;
			if (isElementVisible($(".share-article")) || isElementVisible($(".footer"))
				|| isElementVisible($(".try-wrapper"))  || isElementVisible($(".disqus-container"))) {
				sideShareVisible = false;
			}
			if (!isElementVisible($(".post-featured-image img")) && !isElementVisible($(".share-article"))) {
				sideShareFixed = true;
			}
			parentClass.setState({sideShareVisible});
			parentClass.setState({sideShareFixed});
		});
	}

	postBody(rawPostBody) {
		return {__html: rawPostBody};
	}

	render() {
		let socialClasses = "social-icons";
		socialClasses += this.state.sideShareVisible ? "" : " hidden";
		socialClasses += this.state.sideShareFixed ? " fixed" : "";
		let postBodyClasses = "post-body";
		postBodyClasses += this.state.sideShareVisible ? " share-article-vertical-hidden" : "";

		return (
			<% environment.context_class.instance_eval { include ApplicationHelper } %>
			<div>
				<div className="post-body-wrapper">
					<div className="share-article-vertical">
						<div className={socialClasses}>
							<h3>Share</h3>
							<div className="fb-container"><%= svg("social_icons/facebook")%></div>
							<div className="twitter-container"><%= svg("social_icons/twitter")%></div>
							<div className="linkedin-container"><%= svg("social_icons/linkedin")%></div>
							<div className="yc-container"><%= svg("social_icons/ycombinator")%></div>
						</div>
					</div>

					<div className={postBodyClasses} dangerouslySetInnerHTML={this.postBody(this.props.post_body)}></div>
				</div>

				<div className="share-article">
					<h3>Share this article</h3>
					<div className="social-icons">
					<span className="fb-container"><%= svg("social_icons/facebook")%></span>
					<span className="twitter-container"><%= svg("social_icons/twitter")%></span>
					<span className="linkedin-container"><%= svg("social_icons/linkedin")%></span>
					<span className="yc-container"><%= svg("social_icons/ycombinator")%></span>
					</div>
				</div>
			</div>
		);
	}
}