<div class="author-info">
    <div class="author-container">
        <img alt="<%= author.first_name %> <%= author.first_name %> avatar" src="<%= author.profile_image.eql?("") ? image_path('blog_default_avatar') : author.profile_image %>">
        <div class="name-and-title">
            <%= link_to "#{author.first_name} #{author.last_name}", buttercms_author_path(author.slug) %>
            <% if !author.title.eql? "" %>
                <p><%= author.title %></p>
            <% end %>
        </div>
    </div>
</div>