<div class="footer">
    <div class="top-footer">
        <div class="socials">
            <h4>Always stay in the loop!</h4>
            <div class="separator"></div>
            <div class="social-icons">
            <a class="twitter" href="https://twitter.com/bitrise" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/twitter_footer") %></span>
            </a>
            <a class="facebook" href="http://facebook.com/bitrise.io" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/facebook_footer") %></span>
            </a>
            <a class="slack" href="http://chat.bitrise.io/" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/slack") %></span>
            </a>
            <a class="github" href="https://github.com/bitrise-io" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/github") %></span>
            </a>
            </div><a class="v3-button big status-page none" target="_blank" href="http://status.bitrise.io/">All Systems Operational</a>
        </div>
        <div class="product">
            <h4>Product</h4>
            <div class="separator"></div>
            <a tabindex="-1" href="https://www.bitrise.io/pricing">Pricing</a>
            <a tabindex="-1" href="/cli">CLI</a><a tabindex="-1" href="/integrations">Integrations</a>
        </div>
        <div class="company">
            <h4>Company</h4>
            <div class="separator"></div>
            <a tabindex="-1" href="https://www.bitrise.io/about">About</a>
            <a tabindex="-1" href="/job">Careers</a>
            <a tabindex="-1" href="/terms">Terms</a>
            <a tabindex="-1" href="/privacy">Privacy policy</a>
            <a tabindex="-1" href="/cookie_policy">Cookie policy</a>
        </div>
        <div class="support">
            <h4>Support</h4>
            <div class="separator"></div>
            <a target="_blank" tabindex="-1" href="http://devcenter.bitrise.io">Docs &amp; DevCenter</a>
            <a target="_blank" tabindex="-1" href="https://discuss.bitrise.io">Discuss</a>
            <a target="_blank" tabindex="-1" href="http://blog.bitrise.io/">News Blog</a>
            <a tabindex="-1" href="/contact">Contact</a>
        </div>
    </div>
    <div class="bottom-footer">
        <h4>Compiled with <span class="heart-container"><%= svg("footer_heart") %></span>in London &amp; Budapest</h4>
        <a rel="nofollow" href="https://mixpanel.com/f/partner"><img alt="Mobile Analytics" src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" hidden="" style="display: none !important;"></a>
        <a class="copyright" target="_blank" tabindex="-1" href="http://www.bitrise.io/">Copyright © 2014-2017 Bitrise ltd.</a>
    </div>
</div>