<div class="footer">
    <div class="top-footer">
        <div class="socials">
            <h4>Always stay in the loop!</h4>
            <div class="separator"></div>
            <div class="social-icons">
            <a class="twitter" href="https://twitter.com/bitrise" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/twitter_footer") %></span>
            </a>
            <a class="facebook" href="https://facebook.com/bitrise.io" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/facebook_footer") %></span>
            </a>
            <a class="slack" href="https://chat.bitrise.io/" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/slack") %></span>
            </a>
            <a class="github" href="https://github.com/bitrise-io" tabindex="-1" target="_blank">
                <span><%= svg("social_icons/github") %></span>
            </a>
            </div><a class="v3-button big status-page none" target="_blank" href="https://status.bitrise.io/">All Systems Operational</a>
        </div>
        <div class="product">
            <h4>Product</h4>
            <div class="separator"></div>
            <a tabindex="-1" href="https://www.bitrise.io/pricing?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Pricing</a>
            <a tabindex="-1" href="https://www.bitrise.io/cli?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">CLI</a>
            <a tabindex="-1" href="https://www.bitrise.io/integrations?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Integrations</a>
        </div>
        <div class="company">
            <h4>Company</h4>
            <div class="separator"></div>
            <a tabindex="-1" href="https://www.bitrise.io/about?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">About</a>
            <a tabindex="-1" href="https://bitrise.io/jobs?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Careers</a>
            <a tabindex="-1" href="https://www.bitrise.io/terms?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Terms</a>
            <a tabindex="-1" href="https://www.bitrise.io/privacy?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Privacy policy</a>
            <a tabindex="-1" href="https://www.bitrise.io/cookie_policy?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Cookie policy</a>
        </div>
        <div class="support">
            <h4>Support</h4>
            <div class="separator"></div>
            <a target="_blank" tabindex="-1" href="https://devcenter.bitrise.io">Docs &amp; DevCenter</a>
            <a target="_blank" tabindex="-1" href="https://discuss.bitrise.io">Discuss</a>
            <a target="_blank" tabindex="-1" href="https://blog.bitrise.io/">News Blog</a>
            <a tabindex="-1" href="https://www.bitrise.io/contact?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Contact</a>
        </div>
    </div>
    <div class="bottom-footer">
        <h4>Compiled with <span class="heart-container"><%= svg("footer_heart") %></span>in London &amp; Budapest</h4>
        <a class="copyright" target="_blank" tabindex="-1" href="https://www.bitrise.io?utm_source=bitriseblog&utm_medium=web&utm_campaign=static">Copyright © 2014-<%= Time.zone.now.year %> Bitrise ltd.</a>
    </div>
</div>
