<%= content_for :html_title, @category.name.capitalize %>
<%= render :partial => 'hero' %>

<div class="category-content">
  <div class="category-header">
    <!-- Category name -->
    <h2>Articles for <span class="category-name"><%= @category.name %></span></h2>
  </div>

  <div class="articles">
    <!-- List of posts -->
    <% @category.recent_posts.each do |post| %>
      <%= render :partial => 'buttercms/posts/post', :locals => {:post => post} %>
    <% end %>
  </div>

  <div class="default-button load-more">
    <a href="#">Load more</a>
  </div>
</div>
<%= render :partial => 'buttercms/base/try_bitrise' %>