<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <title><%= (content_for?(:html_title) ? "#{content_for(:html_title)} | Bitrise Blog" : "Bitrise Blog").html_safe %></title>

    <meta name="description" content="<%= content_for?(:meta_description) ? content_for(:meta_description) : "Articles about Continuous Integration & Delivery, automation, iOS code signing, DevOps, and awesome tech" %>">
    <meta name="viewport" content="viewport-fit=cover,width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="https://blog.bitrise.io/<%= content_for(:canonical_url) %>" />
    <meta property="fb:app_id"        content="649161285439710" />
    <meta property="og:url"           content="https://blog.bitrise.io/<%= content_for(:canonical_url) %>" />
    <meta property="og:site_name"     content="Bitrise Blog" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= content_for(:og_title) %>" />
    <meta property="og:description"   content="<%= content_for(:og_description) %>" />
    <meta property="og:image"         content="<%= content_for(:og_image) %>">
    <meta property="og:image:width"   content="<%= content_for(:og_image_width) %>">
    <meta property="og:image:height"  content="<%= content_for(:og_image_height) %>">

    <link rel="alternate" type="application/atom+xml" title="Bitrise Blog - Atom" href="<%= buttercms_blog_atom_path %>">
    <link rel="alternate" type="application/rss+xml" title="Bitrise Blog - RSS" href="<%= buttercms_blog_rss_path %>">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut mask-icon" type="image/x-icon" href="/favicon.svg">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-152x152.png" sizes="152x152">

    <!-- See https://buttercms.com/docs/#cssstyling -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//cloud.typography.com/7981312/721124/css/fonts.css' %>
    <link rel="stylesheet" media="screen" href="https://cloud.typography.com/7981312/721124/css/fonts.css">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,700,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-okaidia.min.css">
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://use.typekit.net/etp1mcx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

  <%= render :partial => 'navigation' %>
  <%= render :partial => 'categories' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render :partial => 'footer' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= ENV['GA_MAIN_TOKEN'] %>', 'auto');
    ga('create', '<%= ENV['GA_TOKEN'] %>', 'auto', 'blogTracker');
    ga('send', 'pageview');
  </script>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-yaml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-bash.min.js"></script>
  <script>
  (function() {
    setTimeout( () => {
      Prism.highlightAll();
    }, 0)
  })(Prism);
  </script>
</body>
</html>
