<%= content_for :html_title, "#{@author.first_name} #{@author.last_name}" %>
<%= content_for :meta_description, @author.bio %>


<%= render partial: 'author_header', locals: {author: @author} %>
<div class="author-content">
  <!-- List of posts -->
  <%= react_component('AuthorArticles', {author: @author}) %>
</div>
<%= render :partial => 'buttercms/base/try_bitrise' %>
