<div class="article-container">
  <div class="image-container">
    <%= image_tag(post.featured_image) if post.featured_image %>
  </div>

  <div class="article">
    <p class="category featured">featured</p>
    <% post.categories.each do |category| %>
      <p class="category"><%= category.name %></p>
    <% end %>

    <h2><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title %></h2>

    <!-- Post summary -->
    <p><%= post.summary %></p>

    <!-- Post categories -->
    <!-- <% post.categories.each do |category| %>
      <%= link_to category.name, buttercms_category_path(category.slug), :title => category.name %>
    <% end %> -->

    <div class="more">
      <%= link_to 'read more...', buttercms_post_path(post.slug), :title => 'read more...' %>
    </div>
  </div>
</div>
