<div class="article-container">
  <div class="image-container">
    <a href="<%= buttercms_post_path(post.slug) %>">
      <%= image_tag(post.featured_image) if post.featured_image %>
    </a>
  </div>

  <div class="article">
    <div class="article-categories">
      <a href="<%= buttercms_tag_path("featured") %>" ><p class="category featured">featured</p></a>
      <% post.categories.each do |category| %>
        <%= link_to category.name, buttercms_category_path(category.slug), class: "category" %>
      <% end %>
    </div>

    <h2><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title %></h2>
    <h3>Published on <%= post.published.to_time.strftime('%B %e, %Y') %></h3>
    <p><%= post.summary %></p>

    <div class="default-button more">
      <a class="read-more" title="read more..." href="<%= buttercms_post_path(post.slug) %>">
        <div class="button-content-wrapper"><span>Read more</span><%= svg('right_arrow') %></div>
      </a>
    </div>
  </div>
</div>
