<div class="article-container">
  <div class="image-container">
    <%= image_tag(post.featured_image) if post.featured_image %>
  </div>

  <div class="article">
    <div class="article-categories">
      <p class="category featured">featured</p>
      <% post.categories.each do |category| %>
        <p class="category"><%= category.name %></p>
      <% end %>
    </div>

    <h2><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title %></h2>
    <h3>Published on <%= post.published.to_time.strftime('%B %e, %Y') %></h3>
    <p><%= post.summary %></p>

    <div class="more default-button">
      <a class="read-more" title="read more..." href="<%= buttercms_post_path(post.slug) %>">
        Read more <%= svg('right_arrow') %>
      </a>
    </div>
  </div>
</div>
