<div class="article-container">
  <div class="header-container">
    <p class="category"><%= post.categories.first.name %></p>
    <p class="date"><%= post.published.to_time.strftime('%B %e, %Y') %></p>
  </div>

  <div class="image-container">
    <%= image_tag(post.featured_image) if post.featured_image %>
  </div>

  <div class="article">
    <h2><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title %></h2>
    <p><%= post.summary %></p>
  </div>
</div>
