<%= render :partial => 'hero' %>

<div class="content-wrapper">
  <!-- Featured post -->
  <div class="featured-article">
    <%= render :partial => 'featured_post', :locals => {:post => @featured_post} %>
  </div>

  <h2>Recent articles</h2>

  <!-- List of posts -->
  <%= react_component('Articles') %>

  <!-- Pagination links -->
  <div>
    <% if @previous_page %>
      <%= link_to "Prev", buttercms_blog_path(:page => @previous_page) %>
    <% end %>

    <% if @next_page %>
      <%= link_to "Next", buttercms_blog_path(:page => @next_page) %>
    <% end %>
  </div>
</div>
<%= render :partial => 'buttercms/base/try_bitrise' %>
