<%= content_for :html_title, @search_query %>
<%= render :partial => 'hero' %>
<div class="category-content">
  <div class="category-header">
    <!-- Category name -->
    <h2>Articles for <span class="category-name">'<%= @search_query %>'</span></h2>
  </div>

  <!-- List of posts -->
  <%= react_component('SearchArticles', {searchQuery: @search_query}) %>


</div>
<%= render :partial => 'buttercms/base/try_bitrise' %>
