<%= content_for :html_title, @post.seo_title %>
<%= content_for :meta_description, @post.meta_description %>

<div class="post-content">
  <!-- Post author -->
  <div class="author-info-container">
    <%= render partial: "author", locals: {author: @post.author} %>
  </div>

  <!-- Post title -->
  <h1 class="post-title"><%= @post.title %></h1>

  <div class="publish-date-and-tags">
    <!-- Publish date -->
    <p class="publish-date"><%= Time.parse(@post.published).strftime('%B %d, %Y') %></p>
    <!-- Post categories -->
    <% @post.categories.each do |category| %>
      <p class="divider-slash">/</p><%= link_to category.name.capitalize, buttercms_category_path(category.slug), :title => category.name, class: "category-element" %>
    <% end %>
  </div>

  <!-- Post featured image -->
  <div class="post-featured-image">
    <img src="<%= @post.featured_image %>">
  </div>

  <!-- Post body -->
  <%= react_component('PostContent', {post_body: @post.body.html_safe}) %>

  <!-- Link to Next Post -->
  <% if @next_post %>
    <!-- <div class="next-post">
      <%= link_to "Next: #{@next_post.title}", buttercms_post_path(@next_post.slug), :title => @next_post.title, class: "next-post-button" %>
    </div> -->
  <% end %>
</div>
<%= render :partial => 'buttercms/base/try_bitrise' %>
<!--
// For sharing, we recommend https://www.addthis.com/get/sharing or https://sumome.com/app/share
-->
<div class="post-content">
  <div id="disqus_thread" class="disqus-container"></div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'XXXXXXXX';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>